body {
	font-family: sans-serif;
	font-size: 14px;
	padding: 0; margin: 0;
	
	background-color: #000;
}

h1 {
	padding: 3px 5px; 
	margin: 7px 0;
	font-size: 16px;
	
	background-color: #eee;
}

#location {
	padding: 10px 5px 10px;
}

#content {
	width: 320px;
	height: 480px;
	padding: 0;
	margin: 0 auto;
	background-color: #fbfbfb;
}

#header {
	padding: 0 5px;
}

#send, #receive {
	padding: 15px 5px 15px;
	clear: both;
}

input[type=text], textarea {
	font-size: 15px;
	width: 200px;
}

input[type=button] {
	font-size: 15px;
	width: 90px;
}

#receive_field {
	visibility: hidden;
}

#log {
	display: none;
	margin-top: 20px;
}

textarea {
	height: 180px;
}		


@media screen and (min-device-width: 481px) {
  #content {
    margin-top: 40px;
    padding: 30px 50px;
    
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
}
